.filters {
  padding-top: 15px;
}

.filters__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12.5px 0;
  line-height: 1;
  cursor: pointer;

  &.active svg {
    transform: rotate(180deg);
  }

  &--border {
    padding-right: 4.9%;
    padding-left: 4.9%;
    border: 1px solid;
  }
}

.filters__form {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 4.9%;
  box-sizing: border-box;
  background-color: $white;
  z-index: 999;
}

.filters__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.filters__item {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;

  &::before {
    content: "";
    position: absolute;
    width: 109.8%;
    height: 2px;
    bottom: 0;
    left: -4.9%;
    background-color: $bg-gray;
  }
}

.filters__apply {
  margin: auto 0 25px;
  padding: 20px;
}

@media(max-width: $max-mobile) {
  .filters__form {
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
  }
}

@media(min-width: $min-tablet) {
  .filters {
    position: relative;
    padding-top: 25px;
    margin-left: auto;
    width: 32.5%;
  }

  .filters__btn--border {
    padding-top: 22.5px;
    padding-bottom: 22.5px;
  }

  .filters__form {
    position: absolute;
    padding: 0;
    border: 1px solid;
    border-top: none;
  }

  .filters__header {
    align-self: center;
    order: 3;
  }

  .filters__title,
  .filters__close {
    display: none;
  }

  .filters__item {
    padding-right: 4.9%;
    padding-left: 4.9%;

    &::before {
      width: 100%;
      left: 0%;
    }

    &:last-child::before {
      display: none;
    }
  }

  .filters__apply {
    margin-bottom: 0;
  }
}

@media(min-width: $min-desktop) {
  .filters {
    padding-top: 40px;
  }
}

input[name="side-btn"]:checked + label > svg {
  transform: rotate(180deg);
}

.filters__list {
  display: none;
  position: relative;
  padding: 30px 0;
}

/* Range */
input[name="side-btn"]:checked + label + .range {
  display: block;
}

/* Checkbox */
input[name="side-btn"]:checked + label + .checkboxes {
  display: grid;
}

.checkboxes {
  grid-template-columns: repeat(6, min-content);
  column-gap: 20px;
}

@media(min-width: $min-tablet) {
  .checkboxes {
    row-gap: 20px;

    &--color {
      grid-template-columns: repeat(3, min-content);
    }

    &--collection {
      grid-template-columns: repeat(2, min-content);
    }
  }
}

@media(min-width: $min-desktop) {
  .checkboxes {
    grid-template-columns: repeat(6, min-content);
  }
}



