.header__logo {
  text-align: center;
}

.main-header__logo {
  padding: 20px 0;
}

.page-header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-header__wrapper {
  background-color: $bg-gray;
}

