.page-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 4.9%;
}


@media(max-width: $max-mobile) {
  .page-nav__overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px 4.9%;
    background-color: $bg-gray;
    z-index: 99;
  }
}

.page-nav__item {
  padding: 10px 0;
}

.page-header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-nav__btn {
  position: absolute;
  top: 20px;
  right: 4.9%;
  font-size: 14px;
}

@media(min-width: $min-tablet) {
  .page-nav {
    padding-right: 5.9%;
    padding-left: 5.9%;
  }

  #open-menu-btn,
  #close-menu-btn {
    display: none;
  }

  .page-nav__item {
    display: inline-block;
    margin-right: 35px;
  }
}
