@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/work-regular.woff2') format('woff2'), url('../fonts/work-regular.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/work-500.woff2') format('woff2'), url('../fonts/work-500.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/work-800.woff2') format('woff2'), url('../fonts/work-800.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/work-900.woff2') format('woff2'), url('../fonts/work-900.woff') format('woff');
}

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/anton-regular.woff2') format('woff2'), url('../fonts/anton-regular.woff') format('woff');
}

