$work: "Work Sans", "Arial", sans-serif;
$anton: "Anton", "Arial", sans-serif;

$black: #151C22;
$white: #FFFFFF;
$gray: #727A82;
$bg-gray: #F1F2F4;

$max-mobile: 767px;
$min-tablet: 768px;
$min-desktop: 1200px;

